@import "tailwindcss";

@font-face {
  font-family: "Space Grotesk";
  src: url("/fonts/SpaceGrotesk-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 700;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-primary: #13769a;
  --color-primary-contrast: #115068;
  --color-text: #091747;
  --color-surface: #ffffff;
  --color-background: #f3f3f3;
  --color-destructive: #e07a5f;
  --color-success: #74aa91;
  --color-alert: #f3b653;
  --color-subtitle: #bababa;
  --color-grey-contrast: #f3f4f6;
  --color-border: #e5e5e5;
  --color-ai-variant: #13769a;
  --color-ai-border: #e3e6eb;
  --font-sans: "Space Grotesk", "Inter", sans-serif;
}

:root {
  --background: #f3f3f3;
  --foreground: var(--color-text);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: var(--color-surface);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Space Grotesk", "Inter", sans-serif;
}
